# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# C# files
[*.cs]
indent_size = 4
indent_style = space

# TypeScript/JavaScript files
[*.{ts,tsx,js,jsx}]
indent_size = 2
indent_style = space

# JSON files
[*.json]
indent_size = 2
indent_style = space

# XML files
[*.{xml,csproj,vbproj,proj,projitems,targets}]
indent_size = 2
indent_style = space

# YAML files
[*.{yml,yaml}]
indent_size = 2
indent_style = space

# Markdown files
[*.md]
trim_trailing_whitespace = false
